{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{{ form.media }}

<!-- Reservation Form-->
<div class="main-bkg">
    <h3>Edit Reservation</h3>
    <span>Date & Time: {% now "d/m/y H:i" %}</span>
    {% if user.is_authenticated %}
    <form class="form-css" method="post" action="{% url 'edit_reservation' reservation.id %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-secondary btn-sub">Save Reservation</button>
    </form>
    {% else %}
    <p>To edit a reservation, please <a class="link" href="{% url 'account_login' %}">Login</a>. If you have not
        created an account yet,
        then <a class="link" href="{% url 'account_signup' %}">Register</a>
        first.
    </p>
    {% endif %}
</div>
{% endblock %}