{% extends "base.html" %}
{% block content %}
<div class="menu-bkg bg-dark">
    <h1 class="chalk">Menu</h1>
    <div class="container menu-cont chalk">
        <div class="row">
            <div class="col">
                <h2 class="mb-4">Juicy Burgers</h2>
                <ul class="menu-list">
                    <li class="pt-2">
                        <h5>Beef Burger</h5>
                    </li>
                    <p class="itm-desc">Beef burger served with chips, salad and coleslaw.</p>
                    <li class="pt-2">
                        <h5>Chicken Burger</h5>
                    </li>
                    <p class="itm-desc">Chicken burger served with chips, salad and coleslaw.</p>
                    <li class="pt-2">
                        <h5>Vegan Burger</h5>
                    </li>
                    <p class="itm-desc">Vegan burger served with chips, salad and coleslaw.</p>
                </ul>
            </div>
            <div class="col">
                <h2 class="mb-4">Soft Salads</h2>
                <ul class="menu-list">
                    <li class="pt-2">
                        <h5>Chicken Salad</h5>
                    </li>
                    <p class="itm-desc">Diced chicken breast grilled in a bed of lettuce tomato and cucumber with our
                        homemade dressing.</p>
                    <li class="pt-2">
                        <h5>Seafood Salad</h5>
                    </li>
                    <p class="itm-desc">Prawns, crab & lobster in a bed of lettuce tomato and cucumber with our seafood
                        sauce.</p>
                    <li class="pt-2">
                        <h5>Nutty Salad</h5>
                    </li>
                    <p class="itm-desc">Roasted cashews in a bed of lettuce tomato and cucumber with our homemade peanut
                        dressing.</p>
                </ul>
            </div>
            <div class="col">
                <h2 class="mb-4">The Grill</h2>
                <ul class="menu-list">
                    <li class="pt-2">
                        <h5>Fillet Mignon Steak</h5>
                    </li>
                    <p class="itm-desc">The perfect cut of steak served with chips, peas and mushrooms.</p>
                    <li class="pt-2">
                        <h5>Mixed Grill</h5>
                    </li>
                    <p class="itm-desc">Rump steak, sausages, pork chops served with chips, peas and mushrooms.</p>
                    <li class="pt-2">
                        <h5>Grilled Asparagus</h5>
                    </li>
                    <p class="itm-desc">Giant asparagus served with chips, peas and mushrooms.</p>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}