{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container main-bkg px-3 pb-3">
    <div class="row">
        <h2 class="fw-bold">Profile</h2>
        <hr class="mb-5">
    </div>
    <div class="col-12 shadow">
        <h3 class="text-center">My Reservations</h3>
        {% if reservations %}
        <div class="table-responsive bg-dark">
            <table class="table table-sm mb-5 text-white">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Party Size</th>
                        <th>Date/Time</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.phone_number }}</td>
                        <td>{{ reservation.party_size }}</td>
                        <td>{{ reservation.date_time }}</td>
                        <td></td>
                        <td><a class="text-success text-decoration-none"
                                href="{% url 'edit_reservation' reservation.id %}">Edit</a></td>
                        <td><a class="text-danger text-decoration-none confirm-delete"
                                href="{% url 'delete_reservation' reservation.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There are no reservations associated with this profile.</p>
            <a class="btn btn-secondary mb-5" href="{% url 'reservations' %}">
                Create a Reservation</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).on('click', '.confirm-delete', function () {
        return confirm('Are you sure you want to delete your reservation?');
    });
</script>
{% endblock %}