{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container main-bkg">
            <div class="row">
                <h2 class="fw-bold">My Profile</h2>
                <hr class="mb-5">
            </div>
            <div class="col-12 col-lg-6 shadow">
                <h3 class="text-center">My Reservations</h3>
                <div class="table-responsive">
                    <table class="table table-sm mb-5">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Party Size</th>
                                <th>Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservations %}
                                <tr>
                                    <td>{{ reservation.name }}</td>
                                    <td>{{ reservation.phone_number }}</td>
                                    <td>{{ reservation.party_size }}</td> 
                                    <td>{{ reservation.date_time }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}