{% extends "base.html" %}
{% block content %}
<div class="main-bkg">
    <h1>RESERVATION COMPLETE!</h1>
    <h2>Thank you {{ reservation.name }}, We'll see you soon.</h2>
                <div class="row">
                    <table class="table table-sm mb-5 mt-5 text-white">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Party Size</th>
                                <th>Date/Time</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ reservation.name }}</td>
                                <td>{{ reservation.phone_number }}</td>
                                <td>{{ reservation.party_size }}</td> 
                                <td>{{ reservation.date_time }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
</div>
{% endblock %}